@using EmployeeCrud.Models.Employee
@model List<Employee>

<div class="Container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Employee List</h2>
        </div>
    </div>
</div>

    <table class="table">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Department</th>
            <th>Joining_Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model){
            <tr>
                <td>@obj.Name</td>
                <td>@obj.Designation</td>
                <td>@obj.Department</td>
                <td>@obj.Joining_date</td>
            </tr>
        }
    </tbody>
</table>